body {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
}
::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-track {background-color: #ffbb56;}
::-webkit-scrollbar-thumb {background: #ff9900;}
::-webkit-scrollbar-thumb:hover {background-color: rgb(155, 100, 29);}
::-webkit-scrollbar-thumb:active {background-color: rgb(121, 81, 17);} 
img {user-select: none;}
.header_Sec {
    background-color: #f8f8f8;
    background-image: url(../../../assets/img/v.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    display: flex;
    z-index: 99999999999999;
    transition: .3s;
    padding: 30px 0;
    position: relative;
}
.navbar.nactive {
    position: fixed;
    background-color: #366388;
}
.logo {max-width: 70px;}
.navbar_logo, .navbar_ml {margin: 0 auto;}
.navbar__toggle {
    display: none;
    cursor: pointer;
    transition: .3s;
}
.navbar__toggle:hover {opacity: 0.6;}
.bros_tog {
    width: 28px;
    background-color: #000;
    height: 3px;
    margin-bottom: 5px;
    transition: .3s;
    border-radius: 2px;
    transition: .3s;
}
.bros_tog.acttog {background: #fff;}
.navbar_ml {
    list-style: none;
    display: flex;
    margin-right: auto;
    padding: 0;
    text-transform: uppercase;
}
.navbar_link {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: .3s;
    margin: 0 10px 0 0;
    user-select: none;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 6px;
}
.navbar_link:hover {
    color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.089);
}
.navbar_link.activen {color: #000;}
.navbar_link.activen:hover {
    color: #000;
    background: rgba(0, 0, 0, 0.089);
}
.navbar_button {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition: .3s;
    border-radius: 5px;
    padding: 10px 45px;
    user-select: none;
    font-size: 14px;
    background: #FFCC80;
}
.navbar_button:hover {
    color: #000;
    background: #aa8855;
}
.main_section-portfolio_wrap {margin: 100px 0;}
.main_section-portfolio_wrap-title {
    font-size: 42px;
    text-align: center;
    font-weight: 800;
    user-select: none;
}
.main_section-portfolio_wrap-subtitle {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-weight: 600;
    user-select: none;
    max-width: 470px;
    margin-bottom: 10px;
}
.main_section-portfolio_wrap-subtitle a {
    color: #db8b12;
    transition: .3s;
    text-decoration: none;
}
.main_section-portfolio_wrap-subtitle a:hover {color: #bb7711;}
.main_section-portfolio_wrap-container_box {
    display: flex;
    align-content: flex-start;
    margin: 0 0 30px 0;
}
.main_section-portfolio_wrap-container_box:last-child {margin: 0 0 0 0;}
.main_section-portfolio_wrap-box {
    background: #000;
    width: max-content;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
}
.main_section-portfolio_wrap-box img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 300px;
    height: 350px;
    transition: .3s;
}
.main_section-portfolio_wrap-box:hover {box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);}
.main_section-portfolio_wrap-box:hover img {transform: scale(1.05);}
.main_section-portfolio_wrap-box-title {
    position: absolute;
    bottom: 5px;
    color: #fff;
    left: 10px;
    right: 10px;
    font-weight: 600;
    opacity: 0;
    transition: .3s;
}
.main_section-portfolio_wrap-box-title.show_boxt {opacity: 1;}
.main_section-portfolio_wrap-link {
    text-align: center;
    display: block;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
    position: relative;
    width: max-content;
    margin: 0 auto;
    font-size: 14px;
}
.main_section-portfolio_wrap-link:hover {color: #000;}
.main_section-portfolio_wrap-link:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 10px;
    transition: .3s;
}
.main_section-portfolio_wrap-link:hover:after {
    width: 0;
    left: unset;
    right: 0;
}
footer {
    padding: 100px 0 100px 0;
    background-color: #3c4852;
    color: #fff !important;
    margin: 100px 0 0 0;
}
.footer_img {
    margin-top: -200px;
    width: 100%;
}
.footer_wrap-pay_title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 50px;
    user-select: none;
}
.footer_wrap-pay_img {display: flex; margin-bottom: 25px;}
.footer_wrap-pay_img img {
    border: 2px solid #3c5468;
    border-radius: 10px;
    padding: 5px 18px;
    margin: 0 10px 0 0;
    display: flex;
    transition: .3s;
}
.footer_wrap-pay_img a:hover img {border: 2px solid #366388;}
.footer_wrap-right {
    justify-self: center;
    align-self: center;
    margin: 0 0 0 20px;
    font-weight: 600;
}
.footer_wrap-btn {
    justify-self: center;
    align-self: center;
    margin: 0 0 0 20px;
    background: #FFCC80;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    user-select: none;
    border-radius: 5px;
    padding: 5px 45px;
    transition: .3s;
    white-space: nowrap;
}
.footer_wrap-btn:hover {
    color: #000;
    background: #aa8855;
}
.footer_wrap-btnsec {
    justify-self: center;
    align-self: center;
    margin: 0 0 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    user-select: none;
    transition: .3s;
    position: relative;
    white-space: nowrap;
}
.footer_wrap-btnsec:hover {
    color: #fff;
    transform: translateX(15px);
}
.footer_wrap-btnsec:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ffbb56;
    transition: .3s;
}
.footer_wrap-btnsec:hover:after {opacity: 0;}
.footer_wrap-other {
    justify-self: center;
    align-self: center;
    color: rgba(192, 192, 192);
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    user-select: none;
    transition: .3s;
    margin: 0 20px 0 0;
    white-space: nowrap;
}
.footer_wrap-other:hover {color: #FFCC80;}
@media (max-width: 1300px) {
    .navbar_logo {margin: 0 0 0 30px;}
    .navbar_ml.activebef {display: block;}
    .navbar_ml.active {
        height: auto;
        opacity: 1;
        pointer-events: all;
        margin-top: 30px;
        display: block;
    }
    .navbar_ml {
        position: relative;
        top: 0;
        z-index: 1000;
        width: 100%;
        height: auto;
        display: none;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        transition: .2s;
        background: #366388;
        padding: 10px 0 40px 0;
    }
    .navbar_link {
        margin: 0;
        color: #fff;
    }
    .navbar_link:hover {
        color: #fff;
        background: rgba(255, 255, 255, 0.089);
    }
    .navbar_item {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar__toggle {
        display: block; 
        margin-right: 30px;
    }
    .main_section-portfolio_wrap-container_box {flex-wrap: wrap;}
    .main_section-portfolio_wrap-box {margin: 0 auto 30px auto;}
    .main_section-portfolio_wrap-box:last-child {margin: 0 auto 0 auto;}
    footer {text-align: center !important;}
    .footer_img {margin-top: -250px;}
    .footer_wrap-pay_img {
        flex-wrap: wrap;
        display: inline;
    }
    .footer_wrap-pay_img a {
        margin: 0 auto 25px auto;
        max-width: max-content;
        width: max-content;
        display: flex !important;
        margin-bottom: 25px;
    }
    .footer_wrap-right {margin-bottom: 25px;}
    .footer_wrap-other {margin: 0;}
}
@media (max-width: 991px) {
    .navbar {padding: 15px 0;}
    .logo {max-width: 50px;}
    .main_section-portfolio_wrap-box-title {opacity: 1;}
    .main_section-portfolio_wrap-link {
        font-size: 12px;
        word-wrap: break-word;
    }
}