@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    color: white;
    background: #16151d;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-track {background-color: rgb(161, 161, 161);}
::-webkit-scrollbar-thumb {background: #ffffff;}
::-webkit-scrollbar-thumb:hover {background-color: rgb(121, 121, 121);}
::-webkit-scrollbar-thumb:active {background-color: rgb(95, 95, 95);} 
img {user-select: none;}
.hide {transition: 0.3s; opacity: 0;}
.preloader {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    position: fixed;
    background-image: linear-gradient(-139deg, #16151d 25%, #282536 100%);
    display: block;
}
.preloader_img {
    position: fixed;
    top: 36%;
    width: 20%;
    animation: ____________ 9s ease-in-out infinite;
}
@keyframes ____________ {
    10% {transform: rotate(-360deg);}   
    20% {transform: rotate(360deg);}
    40% {transform: rotate(-360deg);}
    50% {transform: rotate(360deg);}
    60% {transform: rotate(-360deg);}
    70% {transform: rotate(360deg);}
    80% {transform: rotate(-360deg);}
    90% {transform: rotate(360deg);}
    100% {transform: rotate(-360deg);}
}
.effect {background: url(../../../assets/img/pattern2.png); background-repeat: repeat; animation: anim_eff 1009s linear infinite;}
@keyframes anim_eff {from {background-position: 0;} to {background-position: -40000px;}}
.lg {margin: 62px 0 0 362px; transition: .3s ease;}
.lg:hover {opacity: 0.6;}
.navbar-toggler-icon {background: url(../../../assets/img/additional/toggler-icon.png); transition: .3s ease;}
.navbar-toggler-icon:hover {opacity: 0.6;}
button.active.focus, button.active:focus, button.focus, button:active.focus, button:active:focus, button:focus {box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;}
.ml-auto {
    margin-left: auto !important;
    margin-right: 280px;
    margin-top: 62px;
}
.nav-link {
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 0 46px;
    transition: .3s ease;
    position: relative;
}
.nav-link:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: .3s ease;
    opacity: 0;
    border-radius: 3px;
}
.nav-link:hover:after {
    opacity: 1;
    width: 100%;
}
.nav-link:hover {color: rgb(255, 255, 255);}
.product-mini {
    margin-top: 150px;
    padding-bottom: 150px;
}
.product {
    font-weight: 600;
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 12px;
    letter-spacing: 2px;
}
.bo_1111 {
    background: #FFFFFF;
    margin-top: 28px;
    box-shadow: 0px 0px 10px rgba(33, 33, 33, 0.25);
    border-radius: 32px;
    width: 332px;
    height: 469px;
    margin-left: auto;
    margin-right: auto;
}
.head_t {
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin-top: 31px;
    line-height: 27px;
    background: linear-gradient(114.44deg, #7433FF 0%, #FFA3FD 100%);
    box-shadow: 0px 0px 5px #A358FF;
    border-radius: 32px;
    padding-top: 45px;
    padding-bottom: 35px;   
}
.desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #404040;
    margin-top: 25px;
}
.prc {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #404040;
    font-weight: normal;
}
.button_product {
    background: #4A4A4A;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    padding: 10px 28px 10px 28px;
    transition: .3s ease;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}
.button_product:hover {
    color: rgb(204, 204, 204);
    background: #292929;
}
.footer {
    background: #1a1920;
    width: 100vw;
    height: max-content;
}
.logo {margin-top: 24px; margin-bottom: 24px; width: 200px;}
.cop {
    font-size: 11px;
    text-align: center;
    color: #bebebe;
}
@media (max-width: 1550px){
    .lg {margin: 62px 0 0 0;}
    .ml-auto {
        margin-left: auto !important;
        margin-right: 0;
        margin-top: 62px;
    }
    .product {letter-spacing: 0; font-size: 26px;}
}
@media (max-width: 991px) {
    .ml-auto {margin-top: 0;}
    .navbar-toggler-icon {margin-top: 52px;}
    .collapse, .navbar-collapse {margin-top: 12px;}
    .nav-link {margin: auto; width: max-content;}
}