body {
    background-color: #fff;
    font-family: 'Sen', sans-serif;
    color: #fff;
}
*::selection {
    background-color: rgb(114, 23, 23);
    z-index: -1;
}
::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-track {background-color: rgb(114, 23, 23);}
::-webkit-scrollbar-thumb {background: rgb(175, 37, 37);}
::-webkit-scrollbar-thumb:hover {background-color: rgb(75, 17, 17);}
::-webkit-scrollbar-thumb:active {background-color: rgb(63, 14, 14);} 
img {user-select: none;}
.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 999999;
    height: 64px;
    backdrop-filter: blur(130px);
    background-color: rgba(0, 0, 0, 0.296);
    transition: .3s;
    margin-bottom: 48px;
    position: relative;
}
.navbar_logo, .navbar_ml {margin: 0 auto;}
.navbar__toggle {
    display: none;
    cursor: pointer;
    transition: .3s;
}
.navbar__toggle:hover {opacity: 0.6;}
.bros_tog, .bros_tog2, .bros_tog3 {
    width: 28px;
    background-color: #fff;
    height: 3px;
    margin-bottom: 5px;
    transition: .3s;
    border-radius: 2px;
    transition: .3s;
}
.navbar_ml {
    list-style: none;
    display: flex;
    margin-right: auto;
    padding: 0;
    text-transform: uppercase;
}
.logo_hide_pc {
    font-weight: 600;
    display: none;
    margin-bottom: 30px;
    margin-top: 30px;
}
.button_hide_pc {
    background: none;
    color: #fff;
    border: 0;
    outline: 0;
    transition: .3s;
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 41px;
    font-weight: 600;
    display: none;
}
.button_hide_pc:hover {color: rgb(212, 212, 212);}
.button_hide_pc:focus {outline: 0;}
.navbar_link {
    text-decoration: none;
    color: #c8c8c8;
    font-weight: 400;
    transition: .3s;
    letter-spacing: .5px;
    margin: 0 30px 0 0;
    position: relative;
    user-select: none;
    font-size: 13px;
}
.navbar_link:hover {color: #fff;}
.block__main {
    background: url(../img/header_bg.jpg) fixed;
    height: 940px;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
.block__main:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .6;
    z-index: -1;
}
.main__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;
    max-width: 1000px;
}
.logo__main {max-width: 300px;}
.main__tagline {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    user-select: none;
}
.tagline {color: rgb(221, 44, 44);}
.main__desc {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    user-select: none;
    margin-bottom: 30px;
}
.main__btn {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: #fff;
    transition: .3s;
    background-color: rgb(221, 44, 44);
    padding: 5px 48px;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
}
.main__btn:after {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    border: 4px solid rgb(221, 44, 44);
    transition: .3s;
}
.main__btn:hover:after {border: 4px solid rgb(175, 37, 37);}
.main__btn:hover {
    color: rgb(212, 212, 212);
    background-color: rgb(175, 37, 37);
}
.advantagesblock {
    height: auto;
    width: 100%;
    background-color: #111;
    padding-bottom: 60px;
}
.title {
    margin: 60px 0 0 30px;
    font-size: 24px;
    font-weight: 600;
    user-select: none;
}
.content_blocks {display: flex;}
.advantages {
    background-color: rgb(175, 37, 37);
    padding: 35px;
    min-height: 144px;
    height: auto;
    width: 650px;
    margin: 60px 30px 0 30px;
    border-radius: 8px;
}
.title_advantages {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    user-select: none;
}
.games {
    background: url(../img/games_bg.jpg);
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 60px 0 0 30px;
}
.games:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .6;
    z-index: -1;
}
.title_games {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    user-select: none;
}
.container_games {
    max-width: 1200px;
    margin: 60px auto 60px auto;
}
.img_protected {
    margin-bottom: 35px;
    width: 25%;
    transition: .3s;
}
.img_protected:hover {transform: scale(0.9);}
.btn_games {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    border: 2px solid white;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: max-content;
    padding: 5px 48px;
    transition: .3s;
    user-select: none;
}
.btn_games:hover {
    background-color: rgb(175, 37, 37);
    color: #fff;
    border: 2px solid rgb(175, 37, 37);
}
.footer {
    background-color: #111;
    height: auto;
    padding: 25px 15px;
}
.info {
    padding: 0 45px;
    text-align: center;
}
.logo_text {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
    user-select: none;
}
.copyright__info {
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    color: gray;
}
.other {
    font-size: 13px;
    color: gray;
}
.other_link, .other_linkicon {
    font-weight: 900;
    transition: .3s;
    text-decoration: none;
    color: gray;
}
.other_link:hover, .other_linkicon:hover {color: gainsboro;}
.other_linkicon {
    font-size: 20px;
    user-select: none;
    margin-right: 5px;
}
@media (max-width: 1550px) {
    .advantagesblock {
        height: auto;
        padding-bottom: 60px;
    }
    .title {text-align: center;}
    .content_blocks {flex-wrap: wrap;}
    .advantages {
        margin-left: auto;
        margin-right: auto;
        display: block !important;
    }
    .img_protected {width: 100%;}
    .img_protected img {
        margin-left: auto;
        margin-right: auto;
        display: block !important;
    }
}
@media(max-width: 991px) {
    .navbar_logo {
        margin: 0;
        margin-left: 20px;
    }
    .navbar_ml.active {
        left: 0; 
        width: 100%;
        max-width: 100%;
    }
    .logo_hide_pc.activef, .button_hide_pc.activef {display: block;}
    .logo_hide_pc.activef {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar_ml {
        position: fixed;
        z-index: 1000;
        display: block;
        top: 0;
        left: -250px;
        width: 0;
        height: 100vh;
        overflow: hidden;
        transition: .3s;
        background: rgba(0, 0, 0, 0.932);
        padding: 10px;
    }
    .navbar_link, .navbar_button {margin: 0 0 0 0;}
    .navbar_item {
        color: #fff;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar__toggle {
        display: block; 
        margin-right: 20px;
    }
    .info {padding: 0;}
    .games {padding: 60px 0 0 0;}
}