.slider {
  position: relative;
  height: 400px;
}
.slider__container {
  overflow: hidden;
}
.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}
.slider_disable-transition {
  transition: none;
}
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  height: 400px;
  user-select: none;
}
.slider__control {
  position: absolute;
  top: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  color: #5c5959;
  background-color: #151111;
  border: 2px solid #2d2929;
  text-align: center;
  transform: translateY(-50%);
  transition: .3s;
  cursor: pointer;
  border-radius: 50%;
}
.slider__control_hide {
  display: none;
}
.slider__control[data-slide='prev'] {
  left: 0;
  margin: 0 0 0 25px;
}
.slider__control[data-slide='next'] {
  right: 0;
  margin: 0 25px 0 0;
}
.slider__control:hover,
.slider__control:focus {
  color: rgb(112, 0, 0);
  text-decoration: none;
  outline: 0;
  background: #0000006e;
  transition: .3s;
}
.slider__control::before {
  content: '';
  display: inline-block;
  width: 25px;
  color: #fff;
  font-weight: bold;
  height: 25px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.slider__control[data-slide='prev']::before {
    content: '<';
}
.slider__control[data-slide='next']::before {
  content: '>';
}
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.slider__indicators li.active {
  background-color: rgba(255, 255, 255, 0.9);
}