body {
    color: #fff;
    background-color: rgba(33,33,33);
    font-family: 'Nunito', sans-serif;
}
*::selection {
    color: rgb(255, 255, 255);
    background-color: #ff0000;
}
::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-track {background-color: rgb(170, 36, 36);}
::-webkit-scrollbar-thumb {background: #ffffff;}
::-webkit-scrollbar-thumb:hover {background-color: rgb(255, 122, 122);}
::-webkit-scrollbar-thumb:active {background-color: rgb(240, 72, 72);} 
img {user-select: none;}
.hide {transition: 0.3s; opacity: 0;}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(27, 27, 27);
    z-index: 1500;
}
.preloader_img {
    transform: scale(0);
    transition: .3s ease;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    animation: preload_anim 1.98s forwards;
}
@keyframes preload_anim {50% {transform: scale(0.6) rotate(360deg); opacity: 1;} 100% {transform: scale(0.1); opacity: 0.1;}}
.logo {
    margin: 0 0 0 462px; 
    transition: .3s ease;
}
.logo:hover {opacity: 0.6;}
.navbar {
    transition: .3s ease; 
    position: fixed;
    z-index: 1000;
}
.navbar-toggler-icon {background: url(../../img/additional/toggler-icon.png); transition: .3s ease;}
.navbar-toggler-icon:hover {opacity: 0.6;}
button.active.focus, button.active:focus, button.focus, button:active.focus, button:active:focus, button:focus {box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;}
a {text-decoration: none;}
.nav-link {
    color: white;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 18px;
    margin: 0 0 0 46px;
    transition: .3s ease;
}
.nav-link:hover {color: rgb(231, 231, 231); transform: translateY(3px);}
footer span, .title_container__ span, .desctitle_container__ span {color: #fe0000;}
.title_container__ {
    margin-bottom: 24px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: .5px;
}
.title_container__ i {
    margin: 0 10px 0 0;
}
.slider {
    margin-top: 150px;
    margin-bottom: 120px;
}
.slider__container {
    padding-left: 0;
    padding-right: 0;
}
.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    height: 250px;
    position: relative;
}
.slider__item:nth-child(1) {
    background: url(../../img/products_choice/rust/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.slider__item:nth-child(2) {
    background: url(../../img/products_choice/rust/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.slider__item:nth-child(3) {
    background: url(../../img/products_choice/rust/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.slider__item:nth-child(4) {
    background: url(../../img/products_choice/rust/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.slider__item:nth-child(5) {
    background: url(../../img/products_choice/rust/5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.btn_buy {
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    transition: .3s ease;
    background: #c52727;
    padding: 0.4375rem 1.25rem;
    border-radius: 5px;
    user-select: none;
}
.btn_buy:hover {
    color: #d8d8d8;
    background: #972222;
}
.btn_nonbuy {
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: bold;
    color: rgb(175, 175, 175);
    text-transform: uppercase;
    transition: .3s ease;
    background: #8f2323;
    padding: 0.4375rem 1.25rem;
    border-radius: 5px;
    user-select: none;
    pointer-events: none;
    text-decoration: line-through;
}
.btn_nonbuy:hover {
    color: rgb(175, 175, 175);
    background: #8f2323;
}
.desc_game {
    font-size: 14px;
    color: #fff;
    letter-spacing: .5px;
    font-weight: 500;
    max-width: 1000px;
    min-width: 1000px;
    text-align: center;
    background-color: rgb(251 68 68 / 30%);
    border: 1px solid #fb4444;
    margin-bottom: 36px;
    margin-right: 15px;
    border-radius: 6px;
    padding-top: 12px;
}
.status {
    font-size: 14px;
    margin-top: 13px;
}
.status p:nth-child(2) {margin: -15px 0;}
.status p:nth-child(3) {margin: 20px 0;}
.undetected__span {
    color: #89c74c;
    font-weight: bold;
    letter-spacing: .5px;
}
.detected__span {
    color: #dc3545;
    font-weight: bold;
    letter-spacing: .5px;
}
.function_boxes {
    background-color: #2c2c2c;
    width: 230px;
    height: 80px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: .3s ease;
}
.function_boxes:hover {
    background: #fff;
    color: black;
}
.function_boxes:nth-child(3), .function_boxes:nth-child(4) {margin-bottom: 36px;}
.boxtitle_function {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    user-select: none;
    margin-top: 23px;
}
.boxtitle_function i {margin: 0 10px 0 0;}
.btn_block {display: flex;}
.btn_block a:nth-child(1) {margin: 0 30px 0 0;}
.btn_block a i {margin: 0 10px 0 0;}
footer {
    margin-top: 60px;
    padding-top: 70px;
    height: max-content;
    background: #242424;
}
.title_footer {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
    user-select: none;
    margin-bottom: 10px;
}
.links_block {
    padding-left: 0;
    list-style: none;
    margin-bottom: 70px;
}
.links {
    color: #fff;
    font-weight: 500;
    transition: .3s ease;
    font-size: 14px;
}
.links:hover {color: rgb(224, 224, 224);}
.copyright {
    text-align: center;
    letter-spacing: .5px;
    color: #fff;
    font-weight: bold;
}
@media (max-width: 1550px){
    .logo {margin: 0 0 0 0;}
    .ml-auto {margin-right: auto !important;}
    .block_container, .block_container2 {flex-wrap: wrap; display: flex;}
    .box_block {transform: scale(0.9);}
    .nav-link {letter-spacing: 0; margin: 0 0 0 26px;}
    .box_block:hover {transform: scale(1);}
    .desc_game {
        margin-bottom: 180px;
        width: 1250px;
        min-width: 1250px;
        margin-left: auto;
        margin-right: auto;
    }
    .status {
        position: absolute;
        margin-top: 170px;
        margin-left: 15px;
    }
}
@media (max-width: 1300px) {
    .desc_game {
        margin-bottom: 180px;
        width: 850px;
        min-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
    .status {
        position: absolute;
        margin-top: 170px;
        margin-left: 15px;
    }
}
@media (max-width: 991px) {
    .collapse, .navbar-collapse {background: rgba(44,44,44);}
    .ml-auto {margin-top: 0;}
    .nav-link {margin: auto; width: max-content;}
    footer {text-align: center;}
    .preloader_img {animation: preload_anim 1.98s forwards;}
    @keyframes preload_anim {50% {transform: scale(0.6) rotate(360deg); opacity: 1;} 100% {transform: scale(0.1); opacity: 0.1;}}
    .desc_game {
        margin-bottom: 180px;
        width: 250px;
        min-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .status {
        position: absolute;
        margin-top: 430px;
        margin-left: 15px;
    }
    .function_boxes:nth-child(1), .function_boxes:nth-child(2) {
        margin-bottom: 24px;
    }
}
@media (max-width: 280px) {
    .desc_game {margin-top: 10px;}
}