body {
    background-color: #fff;
    font-family: 'Sen', sans-serif;
    color: #fff;
    position: relative;
    z-index: 2;
    background: url(../../../assets/img/contact_bg.jpg) fixed;
    background-position: center;
    background-size: cover;
}
body:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    background-color: #000000;
    opacity: .6;
    z-index: -1;
}
*::selection {
    background-color: rgb(114, 23, 23);
    z-index: -1;
}
::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-track {background-color: rgb(114, 23, 23);}
::-webkit-scrollbar-thumb {background: rgb(175, 37, 37);}
::-webkit-scrollbar-thumb:hover {background-color: rgb(75, 17, 17);}
::-webkit-scrollbar-thumb:active {background-color: rgb(63, 14, 14);} 
img {user-select: none;}
.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 999999;
    height: 64px;
    backdrop-filter: blur(130px);
    background-color: rgba(0, 0, 0, 0.296);
    transition: .3s;
    position: relative;
}
.navbar_logo, .navbar_ml {margin: 0 auto;}
.navbar__toggle {
    display: none;
    cursor: pointer;
    transition: .3s;
}
.navbar__toggle:hover {opacity: 0.6;}
.bros_tog, .bros_tog2, .bros_tog3 {
    width: 28px;
    background-color: #fff;
    height: 3px;
    margin-bottom: 5px;
    transition: .3s;
    border-radius: 2px;
    transition: .3s;
}
.navbar_ml {
    list-style: none;
    display: flex;
    margin-right: auto;
    padding: 0;
    text-transform: uppercase;
}
.logo_hide_pc {
    font-weight: 600;
    display: none;
    margin-bottom: 30px;
    margin-top: 30px;
}
.button_hide_pc {
    background: none;
    color: #fff;
    border: 0;
    outline: 0;
    transition: .3s;
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 41px;
    font-weight: 600;
    display: none;
}
.button_hide_pc:hover {color: rgb(212, 212, 212);}
.button_hide_pc:focus {outline: 0;}
.navbar_link {
    text-decoration: none;
    color: #c8c8c8;
    font-weight: 400;
    transition: .3s;
    letter-spacing: .5px;
    margin: 0 30px 0 0;
    position: relative;
    user-select: none;
    font-size: 13px;
}
.navbar_link:hover {color: #fff;}
.navbar_link.active {
    color: #fff;
    pointer-events: none;
}
.block__send_request {
    margin: 3rem auto 3rem auto;
    padding: 15px;
    max-width: 1000px;
}
.header__contact {
    font-size: 32px;
    font-weight: 400;
    user-select: none;
    text-align: center;
    margin-bottom: 5px;
}
.desc__warning__contact {
    text-align: justify;
    margin: 0 auto 10px auto;
    max-width: 650px;
}
.whpendcont {
    margin-bottom: 10px; 
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}
.minheader_whpend {
    margin-bottom: 10px;
    font-weight: 700;
    user-select: none;
}
.whpendcont select {
    border-radius: 4px;
    height: 35px;
    max-width: 650px;
    outline: 0;
    color: #fff;
    width: 100%;
    background-color: #222;
    cursor: pointer;
    font-weight: 700;
    user-select: none;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
    padding: 0 5px 0 5px;
    border: 0;
}
.input__, .input__desc {
    height: 35px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #222;
    border-radius: 4px;
    width: 100%;
    outline: 0;
    border: 0;
    transition: .3s;
    font-weight: 700;
    padding: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
}
.input__:active {
    border: 0; 
    outline: 0;
}
.input__:focus {box-shadow: 0 0 30px 0 rgb(175, 37, 37, 0.700);}
.desc__area {
    min-height: 600px;
    width: 100%;
    border-radius: 4px;
    font-weight: 700;
    border: 0;
    background-color: #222;
    color: #fff;
    padding: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
    outline: 0;
}
.desc__area:focus {box-shadow: 0 0 30px 0 rgb(175, 37, 37, 0.700);}
.input__sumbit {
    padding: 10px 30px;
    background: #222;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5);
    color: #fff;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    transition: .3s;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    outline: 0;
    width: 100%;
    user-select: none;
    transition: .3s;
}
.input__sumbit:hover {
    color: rgb(212, 212, 212);
    background: #111;
}
.input__sumbit:active {
    color: rgb(180, 180, 180);
    background: #000;
}
.footer {
    background-color: #111;
    padding: 25px 15px;
}
.info {
    padding: 0 45px;
    text-align: center;
}
.logo_text {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
    user-select: none;
}
.copyright__info {
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    color: gray;
}
.other {
    font-size: 13px;
    color: gray;
}
.other_link, .other_linkicon {
    font-weight: 900;
    transition: .3s;
    text-decoration: none;
    color: gray;
}
.other_link:hover, .other_linkicon:hover {color: gainsboro;}
.other_linkicon {
    font-size: 20px;
    user-select: none;
    margin-right: 5px;
}
@media (max-width: 991px) {
    .navbar_logo {
        margin: 0;
        margin-left: 20px;
    }
    .navbar_ml.active {
        left: 0; 
        width: 100%;
        max-width: 100%;
    }
    .logo_hide_pc.activef, .button_hide_pc.activef {display: block;}
    .logo_hide_pc.activef {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar_ml {
        position: fixed;
        z-index: 1000;
        display: block;
        top: 0;
        left: -250px;
        width: 0;
        height: 100vh;
        overflow: hidden;
        transition: .3s;
        background: rgba(0, 0, 0, 0.932);
        padding: 10px;
    }
    .navbar_link, .navbar_button {margin: 0 0 0 0;}
    .navbar_item {
        color: #fff;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar__toggle {
        display: block; 
        margin-right: 20px;
    }
}