body {
    color: #fff;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {width: 12px;}
::-webkit-scrollbar-track {background-color: rgb(23, 40, 114);}
::-webkit-scrollbar-thumb {background: rgb(37, 51, 175);}
::-webkit-scrollbar-thumb:hover {background-color: rgb(17, 31, 75);}
::-webkit-scrollbar-thumb:active {background-color: rgb(14, 23, 63);} 
img {user-select: none;}
.navbar {
    display: flex;
    z-index: 99999999999999;
    height: 90px;
    transition: .3s;
    padding: 15px 0;
    position: fixed;
}
.navbar.active_scroll {background-color: #15214d;}
.navbar_logo, .navbar_ml {margin: 0 auto;}
.logo_txt {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s;
    user-select: none;
}
.logo_txt:hover {color: #5177ff;}
.navbar__toggle {
    display: none;
    cursor: pointer;
    transition: .3s;
}
.navbar__toggle:hover {opacity: 0.6;}
.bros_tog, .bros_tog2, .bros_tog3 {
    width: 28px;
    background-color: #fff;
    height: 3px;
    margin-bottom: 5px;
    transition: .3s;
    border-radius: 2px;
    transition: .3s;
}
.navbar_ml {
    list-style: none;
    display: flex;
    margin-right: auto;
    padding: 0;
    text-transform: uppercase;
}
.logo_hide_pc {
    font-weight: 600;
    display: none;
    margin-bottom: 30px;
    margin-top: 30px;
    user-select: none;
}
.navbar_link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: .3s;
    margin: 0 35px 0 0;
    user-select: none;
    font-size: 14px;
}
.navbar_link:hover {color: #3059ec;}
.header_section {
    background-image: url(../img/bg_header.jpg);
    background-size: cover;
    background-position: top center;
    height: auto;
    position: relative;
    z-index: 2;
}
.header_section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    z-index: -2;
}
.header_section:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
    z-index: -2;
}
.header__wrap {
    margin: 200px 0;
    padding: 50px 0;
}
.header__wrap-title {
    font-size: 72px;
    max-width: 670px;
    font-weight: 800;
    user-select: none;
    margin-bottom: 25px;
}
.anim_col {animation: anim_col-animation 6s ease infinite;}
@keyframes anim_col-animation {
    10% {color: #476fff;}
    25% {color: #fff;}
    30% {color: #476fff;}
    40% {color: #fff;}
    50% {color: #476fff;}
    60% {color: #fff;}
    70% {color: #476fff;}
    80% {color: #fff;}
    90% {color: #476fff;}
    100% {color: #fff;}
}
.header__wrap-subtitle {
    font-size: 20px;
    max-width: 470px;
    margin-bottom: 50px;
    font-weight: 700;
}
.header__wrap-button {
    font-size: 22px;
    font-weight: 800;
    background: #1433a5;
    width: max-content;
    padding: 15px 45px;
    text-transform: uppercase;
    user-select: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    transition: .3s;
    color: #fff;
    text-decoration: none;
}
.header__wrap-button:hover {
    transform: scale(.95);
    color: #fff;
}
.video_onproject {
    background: #15214d;
    position: relative;
    z-index: 1;
}
.video_onproject:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    z-index: -2;
}
.video_onproject:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/wave2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    z-index: -2;
}
.video_onproject-wrap {
    margin: 200px 0;
    margin-left: auto !important;
    text-align: right;
    padding: 0;
}
.video_onproject-wrap iframe {
    display: flex;
    padding: 0;
    margin: 0;
    position: absolute;
}
.video_onproject-wrap_title {
    font-size: 48px;
    font-weight: 800;
    max-width: 600px;
    margin-bottom: 25px;
    user-select: none;
    margin-left: auto !important;
}
.video_onproject-wrap_subtitle {
    font-size: 18px;
    font-weight: 600;
    max-width: 600px;
    margin-left: auto !important;
    margin-bottom: 50px;
}
.video_onproject-wrap_link {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    position: relative;
}
.video_onproject-wrap_link:hover {color: #fff;}
.video_onproject-wrap_link:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    height: 1px;
    transition: .3s;
}
.video_onproject-wrap_link:hover:after {opacity: 0;}
.video_onproject-wrap_button {
    color: #fff;
    transition: .3s;
    font-weight: 800;
    background: #1433a5;
    color: #fff;
    text-decoration: none;
    display: block;
    width: max-content;
    margin-left: auto !important;
    padding: 15px 45px;
    transition: .3s;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    font-size: 22px;
}
.video_onproject-wrap_button:hover {
    background: #0f2575;
    color: rgb(143, 143, 143);
}
.ourservers {
    background: #102c92;
    position: relative;
    z-index: 1;
}
.ourservers:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    z-index: -2;
}
.ourservers:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    z-index: -2;
}
.ourservers-wrap {
    margin: 200px 0;
    padding: 0;
}
.ourservers-wrap_title {
    font-size: 48px;
    font-weight: 800;
    user-select: none;
    text-align: center;
    margin-bottom: 25px;
}
.ourservers-wrap_subtitle {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;    
}
.ourservers-wrap_box {
    border-radius: 10px;
    background: #102c92;
    max-width: 500px;
    padding: 0;
    height: 300px;
    margin: 0 auto;
    display: block !important;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
}
.ourservers-wrap_box-img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    padding: 0;
    border-radius: 10px;
    transition: .3s;
}
.ourservers-wrap_box-info {
    background-color: rgba(12, 35, 80, 0.8);
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
}
.ourservers-wrap_box-info_title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}
.ourservers-wrap_box-info_button {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background: #1433a5;
    padding: 5px 45px;
    font-weight: 700;   
    border-radius: 5px;
    transition: .3s;
    user-select: none;
    box-shadow: 0 5px 0 rgb(15, 27, 97);
}
.ourservers-wrap_box-info_button:hover {
    color: rgb(143, 143, 143);
    background: #0f2575;
}
.ourservers-wrap_button {
    color: #fff;
    transition: .3s;
    font-weight: 800;
    background: #1433a5;
    width: max-content;
    margin: 0 auto;
    display: block !important;
    text-decoration: none;
    padding: 15px 45px;
    transition: .3s;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 30px;
}
.ourservers-wrap_button:hover {
    background: #0f2575;
    color: rgb(143, 143, 143);
}
.oursyoutubers {
    background: #15214d;
    position: relative;
    z-index: 1;
}
.oursyoutubers:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    z-index: -2;
}
.oursyoutubers:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/wave2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    z-index: -2;
}
.oursyoutubers-wrap {
    margin: 200px 0;   
    padding: 0;
}
.oursyoutubers-wrap_title {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    user-select: none;
    margin-bottom: 25px;
}
.oursyoutubers-wrap_subtitle {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px; 
}   
.oursyoutubers-wrap_box {
    border-radius: 10px;
    background: #102c92;
    max-width: 400px;
    padding: 0;
    height: 300px;
    margin: 0 auto;
    display: block !important;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
    transition: .3s;
}
.oursyoutubers-wrap_box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px 0 rgba(14, 55, 138, 0.8);
}
.oursyoutubers-wrap_box-img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    padding: 0;
    border-radius: 10px;
    transition: .3s;
}
.oursyoutubers-wrap_box-info {
    background-color: rgba(12, 35, 80, 0.8);
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
}
.oursyoutubers-wrap_box-info_title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    user-select: none;
}
.oursyoutubers-wrap_text-block {
    text-align: center;
    padding: 15px 45px;
    background: #1433a5;
    border-radius: 10px;
    width: max-content;
    font-size: 22px;
    font-weight: 800;
    margin: 0 auto;
    display: block !important;
}
.footer {
    background: #102c92;
    position: relative;
    z-index: 1;
}
.footer:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    z-index: -2;
}
.footer-wrap {
    margin: 0 0 100px 0;
    padding: 0;
}
.footer-wrap_block-links {
    display: inline;
    margin: 0 auto;
    display: block !important;
    text-align: center !important;  
    margin-bottom: 25px;
}
.footer-wrap_links {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: .3s;
    margin: 0 25px 0 0;
}
.footer-wrap_links:hover {color: #3059ec;}
.footer-wrap_copyright-block {text-align: center !important;}
.footer-wrap_copyright-block_text {
    font-size: 18px;
    font-weight: 600;
    user-select: none;
}
.footer-wrap_designby {
    margin-top: 25px;
    font-weight: 500;
}
.footer-wrap_designby-link {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    user-select: none;
    position: relative;
}
.footer-wrap_designby-link:hover {color: #fff;}
.footer-wrap_designby-link:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    transition: .3s;
    background: #fff;
}
.footer-wrap_designby-link:hover:after {opacity: 0;}
@media (max-width: 1550px) {
    .video_onproject-wrap iframe {
        position: unset;
        width: 100%;
        margin-bottom: 25px;
    }
    .ourservers-wrap_box-img {width: 100%;}
}
@media (max-width: 991px) {
    .navbar_logo {margin-left: 20px;}
    .navbar_ml.active {
        width: 250px;
        max-width: 100%;
        top: 0;
    }
    .logo_hide_pc.activef {display: block;}
    .logo_hide_pc.activef {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .navbar_ml {
        position: fixed;
        z-index: 1000;
        display: block;
        top: -120%;
        left: 0;
        width: 250px;
        height: 100vh;
        overflow: hidden;
        transition: .3s;
        background: rgb(12, 19, 59);
        padding: 10px;
    }
    .navbar_link {
        margin: 0;
        color: white;
    }
    .navbar_item {
        color: #fff;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar__toggle {
        display: block; 
        margin-right: 20px;
    }
    .video_onproject-wrap, .header__wrap {padding: 50px 10px;}
    .ourservers-wrap_button {margin-top: 0;}
    .oursyoutubers-wrap_text-block {width: 100%;}
    .footer-wrap_links {
        width: max-content;
        margin: 0 auto;
        display: block !important;
    }
}
@media(max-width: 700px) {
    .header__wrap-title {font-size: 63px;}
}