@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    color: white;
    background: url(../img/das.png);
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-track {background-color: rgb(161, 161, 161);}
::-webkit-scrollbar-thumb {background: #ffffff;}
::-webkit-scrollbar-thumb:hover {background-color: rgb(121, 121, 121);}
::-webkit-scrollbar-thumb:active {background-color: rgb(95, 95, 95);} 
img {user-select: none;}
.hide {transition: 0.3s; opacity: 0;}
.preloader {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    position: fixed;
    background-image: linear-gradient(-139deg, #ffffff 25%, #e7e7e7 100%);
    display: block;
}
.preloader_img {
    position: fixed;
    top: 36%;
    width: 20%;
    animation: ____________ 9s ease-in-out infinite;
}
@keyframes ____________ {
    10% {transform: rotate(-360deg);}   
    20% {transform: rotate(360deg);}
    40% {transform: rotate(-360deg);}
    50% {transform: rotate(360deg);}
    60% {transform: rotate(-360deg);}
    70% {transform: rotate(360deg);}
    80% {transform: rotate(-360deg);}
    90% {transform: rotate(360deg);}
    100% {transform: rotate(-360deg);}
}
.effect {background: url(../img/pattern2.png); background-size: auto; background-repeat: no-repeat; padding-bottom: 128px;}
.lg {margin: 62px 0 0 362px; transition: .3s ease;}
.lg:hover {opacity: 0.6;}
.navbar-toggler-icon {background: url(../img/additional/toggler-icon.png); transition: .3s ease;}
.navbar-toggler-icon:hover {opacity: 0.6;}
button.active.focus, button.active:focus, button.focus, button:active.focus, button:active:focus, button:focus {box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;}
.ml-auto {
    margin-left: auto !important;
    margin-right: 280px;
    margin-top: 62px;
}
.nav-link {
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 0 46px;
    transition: .3s ease;
    position: relative;
}
.nav-link:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: .3s ease;
    opacity: 0;
    border-radius: 3px;
}
.nav-link:hover:after {
    opacity: 1;
    width: 100%;
}
.nav-link:hover {color: rgb(255, 255, 255);}
.title {
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    font-style: italic;
    margin: 128px 0 0 62px;
}
.nit {
    position: absolute;
    width: 300px;
    height: 121px;
    margin: -30px 0 0 57px;
}
.description {
    font-weight: normal;
    font-size: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 122px 0 0 57px;
    margin-bottom: 22px;
}
.button_t {
    color: black;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin: 0 0 0 57px;
    transition: .3s ease;
}
.button_t:hover {
    color: white;
    background: black;
}
.rg_b {display: flex;}
.rg {
    position: absolute;
    width: 619px;
    margin: -122px 0 0 100px;
    height: 440px;
}
.product-mini {
    background-image: url(../img/additional/ye3.png);
    background-repeat: no-repeat;
    padding-bottom: 150px;
}
.product {
    font-weight: 600;
    color: #404040;
    font-size: 24px;
    margin-top: 172px;
    position: relative;
}
.bo_1111 {
    background: #FFFFFF;
    margin-top: 78px;
    box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.08);
    border-radius: 32px;
    width: 332px;
    height: 469px;
    margin-left: auto;
    z-index: 2;
    margin-right: auto;
    transition: .3s ease;
}
.bo_1111:hover {transform: scale(1.05);}
.head_t {
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin-top: 31px;
    line-height: 27px;
    background: linear-gradient(114.44deg, #7433FF 0%, #FFA3FD 100%);
    box-shadow: 0px 0px 5px #A358FF;
    border-radius: 32px;
    padding-top: 45px;
    padding-bottom: 35px;    
}
.desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #404040;
    margin-top: 25px;
}
.prc {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #404040;
    font-weight: normal;
}
.button_product {
    background: #4A4A4A;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    padding: 10px 28px 10px 28px;
    transition: .3s ease;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}
.button_product:hover {
    color: rgb(204, 204, 204);
    background: #292929;
}
.show_more {
    background: #F9F9F9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    color: #000000;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    margin-top: 51px;
    text-decoration: none;
    padding: 10px 28px 10px 28px;
    transition: .3s ease;
}
.show_more:hover {
    color: rgb(37, 37, 37);
    background: rgb(190, 190, 190);
}
.footer {
    background: #F3F3F3;
    width: 100vw;
    height: max-content;
}
.logo {margin-top: 24px; margin-bottom: 24px; width: 200px;}
.cop {
    font-size: 11px;
    text-align: center;
    color: #626262;
}
@media (max-width: 1550px){
    .rg {display: none;} 
    .nit {margin: -30px 0 0 57px; display: block; margin-left: auto; margin-right: auto; position: relative;}
    .lg {margin: 62px 0 0 0;}
    .ml-auto {
        margin-left: auto !important;
        margin-right: 0;
        margin-top: 62px;
    }
    .title {margin: 140px 0 0 0;}
    .title, .button_t {margin-left: auto; margin-right: auto;}
    .description {text-align: center; margin: 30px 0 0 57px; margin-left: auto; margin-right: auto;}
    body {background-size: auto; background-repeat: no-repeat;}
    .product-mini {background-size: auto; background-repeat: no-repeat;}
    .bo_1111 {transform: scale(0.95);}
    .bo_1111:hover {transform: scale(1);}
}
@media (max-width: 991px) {
    .ml-auto {margin-top: 0;}
    .navbar-toggler-icon {margin-top: 52px;}
    .collapse, .navbar-collapse {margin-top: 12px;}
    .nav-link {margin: auto; width: max-content;}
}